Repository NFT-DAO/Governance-HOLON, pull requests merged in 2021-05, with the labels that each got.

#84 Replace Overview with Commit Lesson
  Training/01-Committs.md
  Training/01-Overview.md
Labels: GitHub-Training

#85 Rename file name and formatting updates
  Training/01-Commits.md
Labels: GitHub-Training

#86 Updated link to commit lesson
  Training/README.md
Labels: GitHub-Training

#88 Delete Meetings directory as redundant
  Meetings/README.md
Labels: Gov-HOLON-Repo-Improvements

#89 Creation of Business Governance Section
  Documents/Governance-of-Business-Relations/OccamFi/AMA-Questions.md
  Documents/Governance-of-Business-Relations/OccamFi/README.md
  Documents/Governance-of-Business-Relations/README.md
  Documents/Governance-of-Business-Relations/Surveys/README.md
Labels: Gov-HOLON-Repo-Improvements

#90 IDO-Preparation-Roadmap-OccamRazer
  Documents/Governance-of-Business-Relations/OccamFi/IDO-Preparation-Roadmap-OccamRazer.md
Labels: Gov-HOLON-Repo-Improvements

#91 Added some AMA Questions
  Documents/Governance-of-Business-Relations/OccamFi/AMA-Questions.md
Labels: OccamFi

#92 Update AMA-Questions.md
  Documents/Governance-of-Business-Relations/OccamFi/AMA-Questions.md
Labels: OccamFi

#95 John's Question
  Documents/Governance-of-Business-Relations/OccamFi/AMA-Questions.md
Labels: OccamFi

#98 added my (DanMercurius) questions
  Documents/Governance-of-Business-Relations/OccamFi/AMA-Questions.md
Labels: OccamFi

#99 NewMindflow Questions - 3
  Documents/Governance-of-Business-Relations/OccamFi/AMA-Questions.md
Labels: OccamFi
