Repository NFT-DAO/Governance-HOLON, pull requests merged in 2021-04, with the labels that each got.

#27 Create "MindfulnessManifesto"
  03-Our-Vision/MindfulnessManifesto
Labels: 05-Our-Values, enhancement

#42 Removed Reference to Community Leaders
  CODE_OF_CONDUCT.md
Labels: Fund-3 Deliverable, Open-Source

#43 Removed Reference to "permanent ban"
  CODE_OF_CONDUCT.md
Labels: Fund-3 Deliverable, Open-Source

#44 Added Boilerplate text
  Business-Plan/05-Our-Values/Documents/Charter/Draft-Charter.md
Labels: Fund-3 Deliverable

#63 QA-DAO input : F5 Contribution Token
  Documents/Proposals/Catalyst-Fund-5/01-Contribution-Token-Governance-Model.md
  Documents/Proposals/Catalyst-Fund-5/README.md
Labels: F5-Proposal

#64 Create 02-NFTDAO-Industry-Standards-1.md
  Documents/Proposals/Catalyst-Fund-5/02-NFTDAO-Industry-Standards-1.md
Labels: F5-Proposal

#66 The_NFT-DAO_Team-Logo
  Documents/Binary-Files/README.md
  Documents/Binary-Files/The_NFT-DAO_Team-Logo.jpg
Labels: documentation

#71 Create README.md
  Documents/Testing/README.md
Labels: Testing

#72 Draft NFT-DAO Test Strategy
  Documents/Testing/NFT-DAO-Test-Stategy.docx
Labels: Testing

#73 NFT-DAO Test Strategy PDF
  Documents/Testing/NFT-DAO-Test-Stategy.pdf
Labels: Testing
